---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "src/layouts/Layout.astro";
import CustomerForm from "@components/Customer/CustomerForm.astro";
import { turso } from "src/turso";
import { convertCustomerDataToJSON } from "@functions/ConvertCustomerDataToJson"; 
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";

const { customerID } = Astro.params;

// Obtener los datos del cliente y la direcci칩n asociada
const rows = await turso.execute(`
  SELECT c.*, a.*
  FROM Customers c
  JOIN Addresses a ON c.addressID = a.addressID
  WHERE c.customerID = ${customerID}
`);
console.log(rows.toJSON()); 

const result = convertCustomerDataToJSON(rows.toJSON());

if (Astro.request.method === 'POST') {
  // Parsear los datos del formulario
  const formData = await Astro.request.formData();

  const firstName = formData.get('firstName');
  const paternalLastName = formData.get('paternalLastName');
  const maternalLastName = formData.get('maternalLastName');
  const CURP = formData.get('CURP');
  const phoneNumber = formData.get('phoneNumber');
  const Email = formData.get('Email');
  const RFC = formData.get('RFC');
  const statusID = formData.get('statusID');

  // Datos de la direcci칩n
  const street = formData.get('street');
    const neighborhood = formData.get('neighborhood');
    const city = formData.get('city');
    const state = formData.get('state');
    const country = formData.get('country');
    const postalCode = formData.get('postalCode');
    const outsideNumb = formData.get('outsideNumb');
    const addressID = formData.get('addressID'); // Se debe recibir el addressID para actualizar la direcci칩n

    await turso.execute(`
    UPDATE Addresses 
    SET 
        street = '${street}', 
        neighborhood = '${neighborhood}', 
        city = '${city}', 
        state = '${state}', 
        country = '${country}', 
        postalCode = '${postalCode}', 
        outsideNumb = '${outsideNumb}' 
    WHERE addressID = ${addressID}`,
    );


  // Construir la consulta SQL din치mica para el cliente
  let customerUpdateFields = [];
  if (firstName) customerUpdateFields.push(`firstName = '${firstName}'`);
  if (paternalLastName) customerUpdateFields.push(`paternalLastName = '${paternalLastName}'`);
  if (maternalLastName) customerUpdateFields.push(`maternalLastName = '${maternalLastName}'`);
  if (CURP) customerUpdateFields.push(`CURP = '${CURP}'`);
  if (phoneNumber) customerUpdateFields.push(`phoneNumber = '${phoneNumber}'`);
  if (Email) customerUpdateFields.push(`Email = '${Email}'`);
  if (RFC) customerUpdateFields.push(`RFC = '${RFC}'`);
  if (statusID) customerUpdateFields.push(`statusID = ${statusID}`);

  // Actualizar el cliente si se han proporcionado datos
  if (customerUpdateFields.length > 0) {
    const customerUpdateQuery = `
      UPDATE Customers
      SET ${customerUpdateFields.join(', ')}
      WHERE customerID = ${customerID}
    `;
    await turso.execute(customerUpdateQuery);
  }



  return Astro.redirect('/customers');
}
---

<Layout title="Editar Cliente">
  <CustomerForm selectedCustomer={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Update
      </SubmitBtn>
    </div>
  </CustomerForm>
</Layout>
