---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "src/layouts/Layout.astro";
import CustomerForm from "@components/Customer/CustomerForm.astro";
import { turso } from "src/turso";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import AddRegisterBtn from "@components/ui/Buttons/AddRegisterBtn.astro";

if (Astro.request.method === 'POST') {
    // Parse form data
    const formData = await Astro.request.formData();

    const customerID = formData.get('customerID');
    const firstName = formData.get('firstName');
    const paternalLastName = formData.get('paternalLastName');
    const maternalLastName = formData.get('maternalLastName');
    const CURP = formData.get('CURP');
    const phoneNumber = formData.get('phoneNumber');
    const Email = formData.get('Email');
    const RFC = formData.get('RFC');
    const street = formData.get('street');
    const neighborhood  = formData.get('neighborhood');  // Nuevo campo
    const city = formData.get('city');
    const state = formData.get('state');  // Nuevo campo
    const country = formData.get('country');  // Nuevo campo
    const postalCode = formData.get('postalCode');
    const outsideNumb = formData.get('outsideNumb');
    const statusID = formData.get('statusID');

    // Insertar la dirección y obtener el addressID
    const addressResult = await turso.execute(`
      INSERT INTO Addresses (street, neighborhood , city, state, country, postalCode, outsideNumb)
      VALUES ('${street}', '${neighborhood }', '${city}', '${state}', '${country}', '${postalCode}', '${outsideNumb}')
    `);

    // Obtener el addressID de la dirección recién insertada
    const addressID = addressResult.lastInsertRowid;

    // Insertar el cliente con el addressID
    await turso.execute(`
      INSERT INTO Customers 
      (customerID, firstName, paternalLastName, maternalLastName, CURP, phoneNumber, Email, RFC, statusID, addressID)
      VALUES (${customerID}, '${firstName}', '${paternalLastName}', '${maternalLastName}', '${CURP}', '${phoneNumber}', '${Email}', '${RFC}', ${statusID}, ${addressID})
    `);


    return Astro.redirect('/customers');
}
---

<Layout title="Clientes">
  <CustomerForm>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Add
      </SubmitBtn>
    </div>
  </CustomerForm>
</Layout>
