---
import Layout from "../../layouts/Layout.astro";
import TrashIcon from "@icons/TrashIcon.astro"
import EditIcon from "@icons/EditIcon.astro"
import EditRecord from "@components/ui/Tables/EditRecord.astro";
import ItemStatus from "@components/ui/Tables/ItemStatus.astro";
import AddRegisterBtn from "@components/ui/Buttons/AddRegisterBtn.astro";
import ImportBtn from "@components/ui/Buttons/ImportBtn.astro";
import { turso } from "src/turso";

const { rows:result } = await turso.execute(`
  SELECT 
    u.id AS user_id,
    u.fullName AS user_full_name,
    u.statusID AS user_status_id,
    u.majorID AS user_major_id,
    u.majorName AS user_major_name,
    u._createdAt,

    st.id AS status_id,
    st.name AS status_name,

    m.id AS major_id,
    m.name AS major_name

  FROM User u
  INNER JOIN Status st ON st.id = u.statusID
  INNER JOIN Major m ON m.id = u.majorID
`)
---

<Layout title="PC's">
  <div class="max-w-screen-xl mx-auto px-4 md:px-8">
    <div class="items-start justify-between md:flex">
      <div class="max-w-lg">
        <h3 class="text-gray-800 text-xl font-bold sm:text-4xl dark:text-gray-300">
          PC's
        </h3>
      </div>
      <div class="mt-3 md:mt-0">
        <AddRegisterBtn/>
        <ImportBtn/>
      </div>
    </div>
    <div class="mt-6 shadow-sm border rounded-lg overflow-x-auto backdrop-blur-sm">
      <table class="w-full table-auto text-sm text-left">
        <thead class="dark:bg-gray-400/20 dark:text-white bg-gray-50 text-gray-600 font-medium border-b">
          <tr>
            <th class="py-3 px-6"># Matricula</th>
            <th class="py-3 px-6">Nombre Completo</th>
            <th class="py-3 px-6">Carrera</th>
            <th class="py-3 px-6">Fecha de Registro</th>
            <th class="py-3 px-6">Status</th>
            <th class="py-3 px-6"></th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          {
            result.map((item) => (
              <tr>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.user_id}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.user_full_name}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.user_major_name}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white capitalize">
                  {
                    item._createdAt
                  }
                </td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white capitalize">
                  <ItemStatus  status={item.status_name ? item.status_name.toString() : ""} />
                </td>
                <td class="flex items-center justify-center gap-4 m-2 text-right px-6 whitespace-nowrap">
                  
                  <EditRecord href={`/student/${item.user_id}`}>
                    <EditIcon/>
                  </EditRecord>

                  <a
                    href={`/student/delete?userID=${item.user_id}`}
                    class="py-2 px-3 inline-block text-white duration-150 font-medium bg-red-600 rounded-lg hover:bg-red-500 active:bg-red-700 md:text-sm"
                  >
                    <TrashIcon/>
                  </a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>   