---
import Form from "@components/ui/Forms/Form.astro";
import FormInput from "@components/ui/Forms/FormInput.astro"
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import { convertCustomerDataToJSON } from "@functions/ConvertCustomerDataToJson";
import { convertStatusDataToJSON } from "@functions/ConvertCustomerDataToJson"
import { turso } from "src/turso";

const path = Astro.url.pathname.replace(/\/$/, ""); // Elimina el "/" al final si existe.
const previousPath = path.substring(0, path.lastIndexOf("/")) || "/";



interface Props {
  selectedSupplier?: any;
}

const {selectedSupplier} = Astro.props;

let supplierID = "";
let souvenirData;
let result;
let resultStatus;
let StatusData;

StatusData = await turso.execute("SELECT * FROM Status")

souvenirData = await turso.execute("SELECT * FROM Souvenirs")

const data = souvenirData.toJSON()

if (!selectedSupplier) {
  result = convertCustomerDataToJSON(data)
  resultStatus = convertStatusDataToJSON(StatusData.toJSON())
}
else  {
  result = convertSuppliersDataToJSON(data).filter((p) => p.supplierID !== selectedSupplier.supplierID); 
  resultLegal = convertLegalDataToJSON(legalData.toJSON()).filter((l) => l.legalEntityID  !== selectedSupplier.legalEntityID ); 
  resultStatus = convertStatusDataToJSON(StatusData.toJSON()).filter((s) => s.statusID  !== selectedSupplier.statusID ); 
}

console.log(result);
console.log(resultLegal);
console.log(resultStatus);

---

<Form title="Alta Proveedores">
  {
    !selectedSupplier
    ?
    <div class="grid grid-cols-2 gap-4">

        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Proveedor -->
            <FormInput type="number" name="supplierID" title="idSupplier" placeholder={supplierID} isRequired isDisabled/>

          <!-- Id Entidad Legal -->
          <FormSelect name="legalEntityID" title="Nombre almacen" isRequired >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultLegal?.map((w) => (
                <SelectOption value={w.legalEntityID?.toString() ?? ''}>{w.name }</SelectOption>
              ))
            }
          </FormSelect>

          <!-- Id Status -->
          <FormSelect name="statusID" title="Status">
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultStatus?.map((w) => (
                <SelectOption value={w.statusID?.toString() ?? ''}>{w.statusName}</SelectOption>
              ))
            }
          </FormSelect>
          
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">

          <!-- Número fe telefono -->
            <FormInput type="text" name="phoneNumber" title="phoneNumber" placeholder="Número de telefono"/>

          <!-- Email -->
          <FormInput type="email" name="email" title="email" placeholder="Email"/>
        </div>
    </div>

    <slot/>
  :

      <!-- Edit -->

      <div class="grid grid-cols-2 gap-4">
        
        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Proveedor -->
            <FormInput type="number" name="supplierID" title="idSupplier" placeholder="ID Supplier" value={selectedSupplier.supplierID}/>

            <!-- Id Entidad Legal -->
          <FormSelect name="legalEntityID" title="Nombre almacen" isRequired >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultLegal?.map((w) => (
                <SelectOption value={w.legalEntityID?.toString() ?? ''}>{w.name }</SelectOption>
              ))
            }
          </FormSelect>

          <!-- Id Status -->
          <FormSelect name="statusID" title="Status">
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultStatus?.map((w) => (
                <SelectOption value={w.statusID?.toString() ?? ''}>{w.statusName}</SelectOption>
              ))
            }
          </FormSelect>

        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">

          <!-- Número fe telefono -->
            <FormInput type="text" name="phoneNumber" title="phoneNumber" placeholder="Número de telefono"/>

          <!-- Email -->
          <FormInput type="text" name="email" title="email" placeholder="Email"/>
        </div>
    </div>

    <slot/>
  }
</Form>