---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import VIPcardForm from "@components/VipCard/VIPcardForm.astro";
import { turso } from "src/turso";
import { convertVIPcardDataToJSON } from "@functions/ConvertDataToJSON";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import statusTextToId from "@functions/statusTextToId";

const { cardNumber } = Astro.params;
const rows = await turso.execute(
  `SELECT * FROM VIPCardMembers  WHERE vipCardID = ${cardNumber}`
);

// Convertir a formato JSON deseado
const result = convertVIPcardDataToJSON(rows.toJSON());

if (Astro.request.method === "POST") {
  // Parse form data
  const formData = await Astro.request.formData();

  const cardNumber = formData.get("cardNumber");
  const statusText = formData.get("status");
  const accNumber = formData.get("accountNumber");
  let statusConvertedID;
  let accNum = 0;

  if (typeof statusText === "string") statusConvertedID = statusTextToId(statusText);
  if (typeof accNumber === "string") accNum = parseInt(accNumber, 10);

  if (statusText !== result[0].status && accNum === result[0].accountNumber) {
    //update status
    await turso.execute(`UPDATE VIPCards SET statusID = ${statusConvertedID} WHERE vipCardID = ${cardNumber};`);
  } else if (accNum !== result[0].accountNumber && statusText === result[0].status ) {
    //update accNumber
    await turso.execute(`UPDATE VIPCards SET customerID = ${accNum}, statusID = 7 WHERE vipCardID = ${cardNumber};`);
  } else {
    //update both
    await turso.execute(`UPDATE VIPCards SET customerID = ${accNum}, statusID = ${statusConvertedID} WHERE vipCardID = ${cardNumber};`);
  }

  return Astro.redirect("/vipcard");
}
---

<Layout title="Editar">
  <VIPcardForm selectedCard={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn> Update </SubmitBtn>
    </div>
  </VIPcardForm>
</Layout>
