---
import Layout from "../../layouts/Layout.astro";
import TrashIcon from "../../components/ui/icons/TrashIcon.astro"
import EditIcon from "../../components/ui/icons/EditIcon.astro"
import EditRecord from "../../components/ui/Tables/EditRecord.astro";
import ItemStatus from "../../components/ui/Tables/ItemStatus.astro";
import AddRegisterBtn from "../../components/ui/Buttons/AddRegisterBtn.astro";

const VIPCardMembers = [
    {
        cardNumber: "1234567890123456789012",
        email: "liamjames@example.com",
        accountNumber: "9876543210123456789012",
        accountType: "ahorro",
        currency: "USD",
        bicCode: "BANKUS33",
        name: "Liam James",
        paternalSurname: "Smith",
        maternalSurname: "Johnson",
        rfc: "LJSM900101HDF",
        phone: "5551234567",
        address: "123 Main St, Anytown, USA",
        birthDate: "1990-01-01",
        status: "vigente",
    },
    {
        cardNumber: "2345678901234567890123",
        email: "oliviaemma@example.com",
        accountNumber: "8765432101234567890123",
        accountType: "corriente",
        currency: "MXN",
        bicCode: "BANKMX33",
        name: "Olivia Emma",
        paternalSurname: "Brown",
        maternalSurname: "Davis",
        rfc: "OEBD910202CDF",
        phone: "5557654321",
        address: "456 Elm St, Othertown, USA",
        birthDate: "1991-02-02",
        status: "cancelada",
    },
    {
        cardNumber: "3456789012345678901234",
        email: "william.benjamin@example.com",
        accountNumber: "7654321098765432101234",
        accountType: "nomina",
        currency: "EUR",
        bicCode: "BANKEU33",
        name: "William Benjamin",
        paternalSurname: "Wilson",
        maternalSurname: "Martinez",
        rfc: "WBWM920303MDF",
        phone: "5558765432",
        address: "789 Oak St, Thistown, USA",
        birthDate: "1992-03-03",
        status: "en tramite",
    },
    {
        cardNumber: "4567890123456789012345",
        email: "henrytheodore@example.com",
        accountNumber: "6543210987654321098765",
        accountType: "ahorro",
        currency: "USD",
        bicCode: "BANKUS44",
        name: "Henry Theodore",
        paternalSurname: "Jones",
        maternalSurname: "Garcia",
        rfc: "HTJG930404HDF",
        phone: "5552345678",
        address: "321 Pine St, Anycity, USA",
        birthDate: "1993-04-04",
        status: "vigente",
    },
    {
        cardNumber: "5678901234567890123456",
        email: "amelia.elijah@example.com",
        accountNumber: "5432109876543210987654",
        accountType: "corriente",
        currency: "MXN",
        bicCode: "BANKMX44",
        name: "Amelia Elijah",
        paternalSurname: "Miller",
        maternalSurname: "Hernandez",
        rfc: "AEML940505CDF",
        phone: "5553456789",
        address: "654 Maple St, Yourtown, USA",
        birthDate: "1994-05-05",
        status: "vigente",
    },
];
---

<Layout title="VIP Cards">
  <div class="max-w-screen-xl mx-auto px-4 md:px-8">
    <div class="items-start justify-between md:flex">
      <div class="max-w-lg">
        <h3 class="text-gray-800 text-xl font-bold sm:text-2xl dark:text-gray-300">
          VIP Card Members
        </h3>
      </div>
      <div class="mt-3 md:mt-0">
        <AddRegisterBtn/>
      </div>
    </div>
    <div class="mt-6 shadow-sm border rounded-lg overflow-x-auto">
      <table class="w-full table-auto text-sm text-left">
        <thead class="dark:bg-gray-400/20 dark:text-white bg-gray-50 text-gray-600 font-medium border-b">
          <tr>
            <th class="py-3 px-6">Card Number</th>
            <th class="py-3 px-6">Name</th>
            <th class="py-3 px-6">Email</th>
            <th class="py-3 px-6">Status</th>
            <th class="py-3 px-6"></th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          {
            VIPCardMembers.map((item) => (
              <tr>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.cardNumber}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.name}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.email}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white capitalize">
                  <ItemStatus  status={item.status} />
                </td>
                <td class="flex items-center justify-center gap-4 m-2 text-right px-6 whitespace-nowrap">
                  <EditRecord href={`/vipcard/${item.cardNumber}`}>
                    <EditIcon/>
                  </EditRecord>

                  <a
                    href="prueba"
                    class="py-2 px-3 inline-block text-white duration-150 font-medium bg-red-600 rounded-lg hover:bg-red-500 active:bg-red-700 md:text-sm"
                  >
                    <TrashIcon/>
                  </a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>
