---
import Layout from "src/layouts/Layout.astro";
import TrashIcon from "@components/ui/icons/TrashIcon.astro";
import EditIcon from "@components/ui/icons/EditIcon.astro";
import EditRecord from "@components/ui/Tables/EditRecord.astro";
import ItemStatus from "@components/ui/Tables/ItemStatus.astro";
import AddRegisterBtn from "@components/ui/Buttons/AddRegisterBtn.astro";

const Clients = [
    {
        idCliente: "01",
        idCuentaBanco: "A001",
        idDireccion: "D001",
        idStatus: "S001",
        CURP: "ABC123456HDFG",
        nombre: "Juan",
        apellidoPaterno: "Pérez",
        apellidoMaterno: "García",
        telefono: "5551234567",
        email: "juan.perez@example.com",
    },
    {
        idCliente: "02",
        idCuentaBanco: "A002",
        idDireccion: "D002",
        idStatus: "S002",
        CURP: "XYZ987654HDFG",
        nombre: "María",
        apellidoPaterno: "López",
        apellidoMaterno: "Martínez",
        telefono: "3339876543",
        email: "maria.lopez@example.com",
    },
    {
        idCliente: "03",
        idCuentaBanco: "A003",
        idDireccion: "D003",
        idStatus: "S003",
        CURP: "DEF456789HDFG",
        nombre: "Pedro",
        apellidoPaterno: "Sánchez",
        apellidoMaterno: "Ramírez",
        telefono: "8187654321",
        email: "pedro.sanchez@example.com",
    },
    {
        idCliente: "04",
        idCuentaBanco: "A004",
        idDireccion: "D004",
        idStatus: "S004",
        CURP: "GHI789123HDFG",
        nombre: "Laura",
        apellidoPaterno: "Hernández",
        apellidoMaterno: "González",
        telefono: "2223334444",
        email: "laura.hernandez@example.com",
    },
    {
        idCliente: "05",
        idCuentaBanco: "A005",
        idDireccion: "D005",
        idStatus: "S005",
        CURP: "JKL012345HDFG",
        nombre: "Carlos",
        apellidoPaterno: "Ramírez",
        apellidoMaterno: "Martinez",
        telefono: "5555555555",
        email: "carlos.ramirez@example.com",
    },
];

---
<Layout title="Clientes">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
      <div class="flex items-start justify-between md:flex">
        <div class="max-w-lg">
          <h3 class="text-gray-800 text-xl font-bold sm:text-2xl dark:text-gray-300">
            Clientes
          </h3>
        </div>
        <div class="mt-3 md:mt-0">
          <AddRegisterBtn />
        </div>
      </div>
      <div class="mt-6 shadow-sm border rounded-lg overflow-x-auto">
        <table class="w-full table-auto text-sm text-left">
          <thead class="dark:bg-gray-400/20 dark:text-white bg-gray-50 text-gray-600 font-medium border-b">
            <tr>
              <th class="py-3 px-6 text-left">Id Cliente</th>
              <th class="py-3 px-6 text-left">ID Cuenta Banco</th>
              <th class="py-3 px-6 text-left">ID Dirección</th>
              <th class="py-3 px-6 text-left">ID Status</th>
              <th class="py-3 px-6 text-left">CURP</th>
              <th class="py-3 px-6 text-left">Nombre</th>
              <th class="py-3 px-6 text-left">Apellido Paterno</th>
              <th class="py-3 px-6 text-left">Apellido Materno</th>
              <th class="py-3 px-6 text-left">Teléfono</th>
              <th class="py-3 px-6 text-left">Email</th>
              <th class="py-3 px-6 text-right"></th>
            </tr>
          </thead>
          <tbody class="text-gray-600 divide-y">
            {Clients.map((item) => (
              <tr key={item.idCliente}>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.idCliente}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.idCuentaBanco}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.idDireccion}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.idStatus}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.CURP}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.nombre}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.apellidoPaterno}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.apellidoMaterno}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.telefono}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.email}</td>
                <td class="flex items-center justify-end gap-4 m-2 text-right px-6 whitespace-nowrap">
                  <EditRecord href={`/clientes/${item.idCliente}`}>
                    <EditIcon />
                  </EditRecord>
                  <a
                    href="prueba"
                    class="py-2 px-3 inline-block text-white duration-150 font-medium bg-red-600 rounded-lg hover:bg-red-500 active:bg-red-700 md:text-sm"
                  >
                    <TrashIcon />
                  </a>
                </td>
              </tr>
            ))}
          </tbody>
        </table>
      </div>
    </div>
</Layout>
