---
import Layout from "../../../layouts/Layout.astro";
import TrashIcon from "../../../components/ui/icons/TrashIcon.astro"
import EditIcon from "../../../components/ui/icons/EditIcon.astro"
import EditRecord from "../../../components/ui/Tables/EditRecord.astro";
import ItemStatus from "../../../components/ui/Tables/ItemStatus.astro";
import AddRegisterBtn from "../../../components/ui/Buttons/AddRegisterBtn.astro";

//Array de maintenanceRecords para funcion tabla
const maintenanceRoomsRecords = [
    {
        mroomid:"9799",
        maintenancedate: "2024-10-22",
        maintenancetime: "08:00",
        employeeid: "EMP123",
        name: "Liam",
        firstsurname: "Smith",
        secondlastname: "Johnson",
        room: "Sala 1",
        roomstatus: "cancelada",
        roomtemperature: "22°C",
        devices: "VR Set 1",
        devicesstatus: "Funcional",
        issue: "Ninguno",
        lvlurgency: "Bajo",
        details: "Mantenimiento rutinario",
    },
    {
        mroomid:"2154",
        maintenancedate: "2024-10-23",
        maintenancetime: "10:00",
        employeeid: "EMP456",
        name: "Olivia",
        firstsurname: "Brown",
        secondlastname: "Davis",
        room: "Sala 2",
        roomstatus: "vigente",
        roomtemperature: "25°C",
        devices: "VR Set 2",
        devicesstatus: "Averiado",
        issue: "Falla en equipo",
        lvlurgency: "Alto",
        details: "Requiere reparación urgente",
    },
];

---


<Layout title="Rooms Maintenance">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
        <div class="items-start justify-between md:flex">
            <div class="max-w-lg">
                <h3 class="text-gray-800 text-xl font-bold sm:text-2xl dark:text-white">
                    Rooms Maintenance
                </h3>
            </div>
            <div class="mt-3 md:mt-0">
                <AddRegisterBtn/>
            </div>
        </div>
        <div class="mt-6 shadow-sm border rounded-lg overflow-x-auto">
            <table class="w-full table-auto text-sm text-left">
                <thead class="dark:bg-gray-400/20 dark:text-white bg-gray-50 text-gray-600 font-medium border-b">
                    <tr>
                        <th class="py-3 px-6">Maintenance ID</th>
                        <th class="py-3 px-6">Maintenance Date</th>
                        <th class="py-3 px-6">Room</th>
                        <th class="py-3 px-6">Employee ID</th>
                        <th class="py-3 px-6">Name</th>
                        <th class="py-3 px-6">Room Status</th>
                        <th class="py-3 px-6">Details</th>
                        <th class="py-3 px-6"></th> <!-- Columna vacía para los íconos de editar y borrar -->
                    </tr>
                </thead>
                <tbody class="text-gray-600 divide-y">
                    {
                        maintenanceRoomsRecords.map((item) => (
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.mroomid}</td>
                                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.maintenancedate}</td>
                                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.room}</td>
                                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.employeeid}</td>
                                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.name}</td>
                                <td class="px-6 py-4 whitespace-nowrap dark:text-white capitalize">
                                    <ItemStatus status={item.roomstatus} />
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.details}</td>
                                <td class="flex items-center justify-center gap-4 m-2 text-right px-6 whitespace-nowrap">
                                    <EditRecord href={`/maintenance/${item.maintenancedate}`}>
                                        <EditIcon/>
                                    </EditRecord>
                                    <a
                                        href="prueba"
                                        class="py-2 px-3 inline-block text-white duration-150 font-medium bg-red-600 rounded-lg hover:bg-red-500 active:bg-red-700 md:text-sm"
                                    >
                                        <TrashIcon/>
                                    </a>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </div>
    </div>
</Layout>