---
import Form from "@components/ui/Forms/Form.astro";
import FormInput from "@components/ui/Forms/FormInput.astro"
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import { convertSouvenirsDataToJSON } from "@functions/ConvertCU04DataToJSON";
import { convertWarehousesDataToJSON } from "@functions/ConvertCU04DataToJSON";
import { convertStatusDataToJSON } from "@functions/ConvertCU04DataToJSON";
import { turso } from "src/turso";

const path = Astro.url.pathname.replace(/\/$/, ""); // Elimina el "/" al final si existe.
const previousPath = path.substring(0, path.lastIndexOf("/")) || "/";

interface Props {
  selectedSouvenir?: any;
}

const {selectedSouvenir} = Astro.props;

let souvenirID = "";
let souvenirData;
let result;
let resultWarehouses;
let resultStatus;
let StatusData;
let WarehousesData;

WarehousesData = await turso.execute("SELECT * FROM Warehouses")

StatusData = await turso.execute("SELECT * FROM Status")

souvenirData = await turso.execute("SELECT * FROM Souvenirs")

const data = souvenirData.toJSON()

if (!selectedSouvenir) {
  result = convertSouvenirsDataToJSON(data)
  resultWarehouses = convertWarehousesDataToJSON(WarehousesData.toJSON())
  resultStatus = convertStatusDataToJSON(StatusData.toJSON())
}
else  {
  result = convertSouvenirsDataToJSON(data).filter((p) => p.souvenirID !== selectedSouvenir.souvenirID); 
  resultWarehouses = convertWarehousesDataToJSON(WarehousesData.toJSON()).filter((w) => w.warehouseID !== selectedSouvenir.warehouseID); 
  resultStatus = convertStatusDataToJSON(StatusData.toJSON()).filter((s) => s.statusID  !== selectedSouvenir.statusID ); 
}

console.log(resultWarehouses);
---

<Form title="Alta Productos">
  {
    !selectedSouvenir
    ?
    <div class="grid grid-cols-2 gap-4">

        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Souvenir -->
            <FormInput type="number" name="souvenirID" title="idSouvenir"  placeholder={souvenirID} isRequired isDisabled/>

          <!-- Id Almacen -->
          <FormSelect name="warehouseID" title="Nombre almacen"  >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultWarehouses?.map((w) => (
                <SelectOption value={w.warehouseID?.toString() ?? ''}>{w.warehouseName }</SelectOption>
              ))
            }
          </FormSelect>

            <!-- Id Status -->
          <FormSelect name="statusID" title="Status">
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultStatus?.map((w) => (
                <SelectOption value={w.statusID?.toString() ?? ''}>{w.statusName}</SelectOption>
              ))
            }
          </FormSelect>

          
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
          <!-- Nombre del souvenir -->
          <FormInput type="text" name="souvenirName" title="nombre Souvenir" placeholder="Nombre del souvenir" />

            <!-- Precio sin IVA -->
            <FormInput type="text" name="priceWithoutIVA" title="precio Sin IVA" placeholder="Precio sin IVA"  />

          <!-- IVA -->
            <FormInput type="text" name="IVA" title="IVA" placeholder="IVA"/>
        </div>
        <!-- Descripci贸n -->
          
    </div>
    <FormInput type="text" name="description" title="descripcion" placeholder="Descripci贸n"/>

    <slot/>
  :

      <!-- Edit -->

      <div class="grid grid-cols-2 gap-4">
        
        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Souvenir -->
            <FormInput type="number" name="souvenirID" title="idSouvenir" placeholder="ID Souvenir" value={selectedSouvenir.souvenirID} />

            <!-- Id Almacen -->
          <FormSelect name="warehouseID" title="Nombre almacen"  >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultWarehouses?.map((w) => (
                <SelectOption value={w.warehouseID?.toString() ?? ''}>{w.warehouseName }</SelectOption>
              ))
            }
          </FormSelect>

            <!-- Id Status -->
          <FormSelect name="statusID" title="Status">
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            {
              resultStatus?.map((w) => (
                <SelectOption value={w.statusID?.toString() ?? ''}>{w.statusName}</SelectOption>
              ))
            }
          </FormSelect>

          <!-- Nombre del souvenir -->
          <FormInput type="text" name="souvenirName" title="nombreSouvenir" placeholder="Nombre del souvenir" value={selectedSouvenir.souvenirName} />
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
            <!-- Precio sin IVA -->
            <FormInput type="text" name="priceWithoutIVA" title="precioSinIVA" placeholder="Precio sin IVA" value={selectedSouvenir.precioSinIVA}  />

          <!-- IVA -->
            <FormInput type="text" name="IVA" title="IVA" placeholder="IVA" value={selectedSouvenir.IVA} isDisabled />

          <!-- Descripci贸n -->
          <FormInput type="text" name="description" title="descripcion" placeholder="Descripci贸n" value={selectedSouvenir.descripcion} />
        </div>
    </div>

    <slot/>
  }
</Form>