---
import Form from "@components/ui/Forms/Form.astro";
import FormInput from "@components/ui/Forms/FormInput.astro"
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import { convertSouvenirsDataToJSON } from "@functions/ConvertCU04DataToJSON";
import { turso } from "src/turso";

const path = Astro.url.pathname.replace(/\/$/, ""); // Elimina el "/" al final si existe.
const previousPath = path.substring(0, path.lastIndexOf("/")) || "/";

interface Props {
  selectedSouvenir?: any;
}

const {selectedSouvenir} = Astro.props;
console.log(selectedSouvenir);
---

<Form title="Alta Productos">
  {
    !selectedSouvenir
    ?
    <div class="grid grid-cols-2 gap-4">

        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Souvenir -->
            <FormInput type="number" name="idSouvenir" title="idSouvenir" placeholder="ID Souvenir" isRequired/>

          <!-- Id Almacen -->
            <FormInput type="number" name="idAlmacen" title="idAlmacen" placeholder="ID Almacen" isRequired/>

          <!-- Id Status -->
          <FormInput type="number" name="idStatus" title="idStatus" placeholder="ID Status" isRequired/>

          <!-- Nombre del souvenir -->
          <FormInput type="text" name="nombreSouvenir" title="nombreSouvenir" placeholder="Nombre del souvenir"/>
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
            <!-- Precio sin IVA -->
            <FormInput type="text" name="precioSinIVA" title="precioSinIVA" placeholder="Precio sin IVA" />

          <!-- IVA -->
            <FormInput type="text" name="IVA" title="IVA" placeholder="IVA"/>

          <!-- Precio con IVA -->
          <FormInput type="text" name="precioConIVA" title="precioConIVA" placeholder="Precio con IVA"/>

          <!-- Descripci贸n -->
          <FormInput type="text" name="descripcion" title="descripcion" placeholder="Descripci贸n"/>
        </div>
    </div>

    <slot/>
  :

      <!-- Edit -->

      <div class="grid grid-cols-2 gap-4">
        
        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Souvenir -->
            <FormInput type="number" name="idSouvenir" title="idSouvenir" placeholder="ID Souvenir" value={selectedSouvenir.souvenirID} isRequired/>

          <!-- Id Almacen -->
            <FormInput type="number" name="idAlmacen" title="idAlmacen" placeholder="ID Almacen" value={selectedSouvenir.warehouseID} isRequired/>

          <!-- Id Status -->
          <FormSelect name="idStatus" title="idStatus" value={selectedSouvenir.statusName} isRequired>
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            <SelectOption value="alta"> Alta </SelectOption>
            <SelectOption value="baja"> Baja </SelectOption>
            <SelectOption value="en stock"> En stock </SelectOption>
          </FormSelect>

          <!-- Nombre del souvenir -->
          <FormInput type="text" name="nombreSouvenir" title="nombreSouvenir" placeholder="Nombre del souvenir"
          value={selectedSouvenir.souvenirName} />
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
            <!-- Precio sin IVA -->
            <FormInput type="text" name="precioSinIVA" title="precioSinIVA" placeholder="Precio sin IVA" value={selectedSouvenir.precioSinIVA}  />

          <!-- IVA -->
            <FormInput type="text" name="IVA" title="IVA" placeholder="IVA" value={selectedSouvenir.IVA} isDisabled />

          <!-- Precio con IVA -->
          <FormInput type="text" name="precioConIVA" title="precioConIVA" placeholder="Precio con IVA" value={selectedSouvenir.precioConIVA} isDisabled />

          <!-- Descripci贸n -->
          <FormInput type="text" name="descripcion" title="descripcion" placeholder="Descripci贸n" value={selectedSouvenir.descripcion} />
        </div>
    </div>

    <slot/>
  }
</Form>