---
import Form from "@components/ui/Forms/Form.astro";
import FormInput from "@components/ui/Forms/FormInput.astro"
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import { convertSouvenirsDataToJSON } from "@functions/ConvertCU04DataToJSON";
import { turso } from "src/turso";

const path = Astro.url.pathname.replace(/\/$/, ""); // Elimina el "/" al final si existe.
const previousPath = path.substring(0, path.lastIndexOf("/")) || "/";

interface Props {
  selectedSouvenir?: any;
}

const {selectedSouvenir} = Astro.props;
console.log(selectedSouvenir);
---

<Form title="Alta Productos">
  {
    !selectedSouvenir
    ?
    <div class="grid grid-cols-2 gap-4">

        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Souvenir -->
            <FormInput type="number" name="idSouvenir" title="idSouvenir" placeholder="ID Souvenir" isRequired isDisabled/>

          <!-- Id Almacen -->
          <FormSelect name="idwarehouse" title="idwarehouse" >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            <SelectOption value="alta"> Alta </SelectOption>
            <SelectOption value="en stock"> En stock </SelectOption>
          </FormSelect>

            <!-- Id Status -->
          <FormSelect name="idStatus" title="idStatus" >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            <SelectOption value="alta"> Alta </SelectOption>
            <SelectOption value="en stock"> En stock </SelectOption>
          </FormSelect>

          
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
          <!-- Nombre del souvenir -->
          <FormInput type="text" name="nombreSouvenir" title="nombreSouvenir" placeholder="Nombre del souvenir"/>

            <!-- Precio sin IVA -->
            <FormInput type="text" name="precioSinIVA" title="precioSinIVA" placeholder="Precio sin IVA" />

          <!-- IVA -->
            <FormInput type="text" name="IVA" title="IVA" placeholder="IVA"/>
        </div>
        <!-- Descripción -->
          
    </div>
    <FormInput type="text" name="descripcion" title="descripcion" placeholder="Descripción"/>

    <slot/>
  :

      <!-- Edit -->

      <div class="grid grid-cols-2 gap-4">
        
        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Souvenir -->
            <FormInput type="number" name="idSouvenir" title="idSouvenir" placeholder="ID Souvenir" value={selectedSouvenir.souvenirID} isDisabled/>

          <!-- Id Almacen -->
            <FormSelect  name="idAlmacen" title="idAlmacen"  value={selectedSouvenir.warehouseID}>
              <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
              <SelectOption value="almacén central"> Almacén Central </SelectOption>
              <SelectOption value="almacén norte"> Almacén Norte </SelectOption>
            </FormSelect>

          <!-- Id Status -->
          <FormSelect name="idStatus" title="idStatus" value={selectedSouvenir.statusName} >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            <SelectOption value="alta"> Alta </SelectOption>
            <SelectOption value="en stock"> En stock </SelectOption>
          </FormSelect>

          <!-- Nombre del souvenir -->
          <FormInput type="text" name="nombreSouvenir" title="nombreSouvenir" placeholder="Nombre del souvenir"
          value={selectedSouvenir.souvenirName} />
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
            <!-- Precio sin IVA -->
            <FormInput type="text" name="precioSinIVA" title="precioSinIVA" placeholder="Precio sin IVA" value={selectedSouvenir.precioSinIVA}  />

          <!-- IVA -->
            <FormInput type="text" name="IVA" title="IVA" placeholder="IVA" value={selectedSouvenir.IVA} isDisabled />

          <!-- Precio con IVA -->
          <FormInput type="text" name="precioConIVA" title="precioConIVA" placeholder="Precio con IVA" value={selectedSouvenir.precioConIVA} isDisabled />

          <!-- Descripción -->
          <FormInput type="text" name="descripcion" title="descripcion" placeholder="Descripción" value={selectedSouvenir.descripcion} />
        </div>
    </div>

    <slot/>
  }
</Form>