---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "src/layouts/Layout.astro";
import SouvenirForm from "@components/Souvenir/SouvenirForm.astro";
import { turso } from "src/turso";
import { convertSouvenirsDataToJSON } from "@functions/ConvertCU04DataToJSON";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import statusTextToId from "@functions/statusTextToId";

const { souvenirID } = Astro.params;

const rows = await turso.execute(`SELECT * FROM Souvenirs WHERE souvenirID = ${souvenirID}`);

const result = convertSouvenirsDataToJSON(rows.toJSON());

if (Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();

  const souvenirID = formData.get('souvenirID');
  const souvenirName = formData.get('souvenirName');
  const priceWithoutIVA = formData.get('priceWithoutIVA');
  const IVA = formData.get('IVA');
  const description = formData.get('description');
  const warehouseID = formData.get('warehouseID');
  const statusID = formData.get('statusID');

  // Construir la consulta SQL dinámicamente
  let updateFields = [];

  if (souvenirName) updateFields.push(`souvenirName = '${souvenirName}'`);
  if (priceWithoutIVA) updateFields.push(`priceWithoutIVA = ${priceWithoutIVA}`);
  if (IVA) updateFields.push(`IVA = ${IVA}`);
  if (description) updateFields.push(`description = '${description}'`);
  if (warehouseID) updateFields.push(`warehouseID = ${warehouseID}`);
  if (statusID) updateFields.push(`statusID = ${statusID}`);

  if (updateFields.length > 0) {
    const updateQuery = `UPDATE Souvenirs SET ${updateFields.join(', ')} WHERE souvenirID = ${souvenirID}`;
    await turso.execute(updateQuery);
  }

  return Astro.redirect('/products/souvenirs');
}

---

<Layout title="Editar">
  <SouvenirForm selectedSouvenir={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Update
      </SubmitBtn>
    </div>
  </SouvenirForm>
</Layout>
