---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "src/layouts/Layout.astro";
import SouvenirForm from "@components/Souvenir/SouvenirForm.astro";
import { turso } from "src/turso";
import { convertSouvenirsDataToJSON } from "@functions/ConvertCU04DataToJSON";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import statusTextToId from "@functions/statusTextToId";

const { souvenirID } = Astro.params;
const rows  = await turso.execute(`SELECT * FROM Souvenirs  WHERE souvenirID = ${souvenirID} `);

// Convertir a formato JSON deseado
const result = convertSouvenirsDataToJSON(rows.toJSON());

if (Astro.request.method === "POST") {
  // Parse form data
  const formData = await Astro.request.formData();

  const souvenirID = formData.get("souvenirID");
  const statusText = formData.get("status");
  const warehouseNumber = formData.get("warehouseNumber");
  let statusConvertedID;
  let warehouseConvertedID;

  if (typeof statusText === "string") statusConvertedID = statusTextToId(statusText);

  if (statusText !== result[0].statusName && warehouseConvertedID === result[0].warehouseID) {
    //update status
    await turso.execute(`UPDATE Souvenirs SET statusID = ${statusConvertedID} WHERE souvenirID = ${souvenirID};`);
  } else if (warehouseConvertedID !== result[0].warehouseID && statusText === result[0].statusID ) {
    //update accNumber
    await turso.execute(`UPDATE Souvenirs SET warehouseID = ${warehouseConvertedID}, statusID = ${statusConvertedID} WHERE souvenirID = ${souvenirID};`);
  } else {
    //update both
    await turso.execute(`UPDATE Souvenirs SET warehouseID = ${warehouseConvertedID}, statusID = ${statusConvertedID} WHERE souvenirID = ${souvenirID};`);
  }

  return Astro.redirect('/products/souvenirs')
}
---

<Layout title="Editar">
  <SouvenirForm selectedSouvenir={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Update
      </SubmitBtn>
    </div>
  </SouvenirForm>
</Layout>