---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "src/layouts/Layout.astro";
import SouvenirForm from "@components/Souvenir/SouvenirForm.astro";
import { turso } from "src/turso";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import AddRegisterBtn from "@components/ui/Buttons/AddRegisterBtn.astro";

if (Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();

  const souvenirID = formData.get('souvenirID');
  const souvenirName = formData.get('souvenirName');
  const priceWithoutIVA = formData.get('priceWithoutIVA');
  const IVA = formData.get('IVA');
  const description  = formData.get('description');
  const warehouseID = formData.get('warehouseID');
  const statusID  = formData.get('statusID');

  await turso.execute(`INSERT INTO Souvenirs (souvenirID, souvenirName, priceWithoutIVA, IVA, description, warehouseID, statusID) VALUES(${souvenirID}, '${souvenirName}', ${priceWithoutIVA}, ${IVA}, '${description}', ${warehouseID}, ${statusID})`);

  return Astro.redirect('/products/souvenirs')
}

---

<Layout title="souvenir">
  <SouvenirForm>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Add
      </SubmitBtn>
    </div>
  </SouvenirForm>
</Layout>