---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import VRAMaintenancesForm from "@components/Maintenances/VRAMaintenancesForm.astro";
import Layout from "src/layouts/Layout.astro";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import { turso } from "src/turso";

if (Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();
  const vraMaintenanceID = formData.get('vraMaintenanceID');
  const maintenanceDate = formData.get('maintenanceDate');
  const maintenanceTime = formData.get('maintenanceTime');
  const osbservations = formData.get('osbservations');
  const urgencyLevelID = formData.get('urgencyLevelID');
  const serialNumbID = formData.get('serialNumbID');
  const issueID = formData.get('issueID');
  const empCURP = formData.get('empCURP');

  const query = `
    INSERT INTO VRAMaintenances (vraMaintenanceID, CURPID, maintenanceDate, maintenanceTime, osbservations, statusID)
    VALUES (${vraMaintenanceID}, ${empCURP}, '${maintenanceDate}', '${maintenanceTime}', '${osbservations}', 15);
  `
  await turso.execute(query)
  await turso.execute(`INSERT INTO VRAMaintenanceDetails (vraMaintenanceID, serialNumbID, urgencyLevelID, reportedIssueID) VALUES (${vraMaintenanceID}, ${serialNumbID}, ${urgencyLevelID}, ${issueID})`)

  return Astro.redirect('/manteinance/VRA')
}
---

<Layout title="vipcard">
  <VRAMaintenancesForm>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Add
      </SubmitBtn>
    </div>
  </VRAMaintenancesForm>
</Layout>