---
import Layout from "../../../layouts/Layout.astro";
import TrashIcon from "../../../components/ui/icons/TrashIcon.astro";
import EditIcon from "../../../components/ui/icons/EditIcon.astro";
import EditRecord from "../../../components/ui/Tables/EditRecord.astro";
import ItemStatus from "../../../components/ui/Tables/ItemStatus.astro";
import AddRegisterBtn from "../../../components/ui/Buttons/AddRegisterBtn.astro";

import { turso } from '../../../turso'
const { rows } = await turso.execute('SELECT * FROM souvenirs')

const Products = [
    {
        id_Producto: "01",
        descripcion: "Gafas de realidad virtual",
        precio_sin_iva: "3000",
        iva: "16",
        precio_con_iva: "3480",
        marca: "VR Vision",
        codigo_barras: "1234567890123",
        categoria: "Accesorios de realidad virtual",
        status: "vigente",
    },
    {
        id_Producto: "02",
        descripcion: "Controlador para realidad virtual",
        precio_sin_iva: "1500",
        iva: "16",
        precio_con_iva: "1740",
        marca: "VR Tech",
        codigo_barras: "2345678901234",
        categoria: "Accesorios de realidad virtual",
        status: "cancelada",
    },
    {
        id_Producto: "03",
        descripcion: "Cascos de realidad virtual",
        precio_sin_iva: "2500",
        iva: "16",
        precio_con_iva: "2900",
        marca: "Sound Immersion",
        codigo_barras: "3456789012345",
        categoria: "Accesorios de realidad virtual",
        status: "en tramite",
    },
    {
        id_Producto: "04",
        descripcion: "Guantes hápticos",
        precio_sin_iva: "2000",
        iva: "16",
        precio_con_iva: "2320",
        marca: "TouchTech",
        codigo_barras: "4567890123456",
        categoria: "Accesorios de realidad virtual",
        status: "vigente",
    },
    {
        id_Producto: "05",
        descripcion: "Estación de carga para gafas VR",
        precio_sin_iva: "800",
        iva: "16",
        precio_con_iva: "928",
        marca: "ChargePro",
        codigo_barras: "5678901234567",
        categoria: "Accesorios de realidad virtual",
        status: "vigente",
    },
];

---

<Layout title="Productos">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
      <div class="flex items-start justify-between md:flex">
        <div class="max-w-lg">
          <h3 class="text-gray-800 text-xl font-bold sm:text-2xl dark:text-gray-300">
            Productos
          </h3>
        </div>
        <div class="mt-3 md:mt-0">
          <AddRegisterBtn />
        </div>
      </div>
      <div class="mt-6 shadow-sm border rounded-lg overflow-x-auto">
        <table class="w-full table-auto text-sm text-left">
          <thead class="dark:bg-gray-400/20 dark:text-white bg-gray-50 text-gray-600 font-medium border-b">
            <tr>
              <th class="py-3 px-6 text-left">Id Producto</th>
              <th class="py-3 px-6 text-left">Descripción</th>
              <th class="py-3 px-6 text-left">Precio sin IVA</th>
              <th class="py-3 px-6 text-left">IVA</th>
              <th class="py-3 px-6 text-left">Precio con IVA</th>
              <th class="py-3 px-6 text-left">Marca</th>
              <th class="py-3 px-6 text-left">Código de Barras</th>
              <th class="py-3 px-6 text-left">Categoría</th>
              <th class="py-3 px-6 text-left">Status</th>
              <th class="py-3 px-6 text-right"></th>
            </tr>
          </thead>
          <tbody class="text-gray-600 divide-y">
            {Products.map((item) => (
              <tr key={item.id_Producto}>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.id_Producto}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.descripcion}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">${item.precio_sin_iva}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">${item.iva}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">${item.precio_con_iva}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.marca}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.codigo_barras}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.categoria}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white capitalize">
                  <ItemStatus status={item.status} />
                </td>
                <td class="flex items-center justify-end gap-4 m-2 text-right px-6 whitespace-nowrap">
                  <EditRecord href={`/productos/${item.id_Producto}`}>
                    <EditIcon />
                  </EditRecord>
                  <a
                    href="prueba"
                    class="py-2 px-3 inline-block text-white duration-150 font-medium bg-red-600 rounded-lg hover:bg-red-500 active:bg-red-700 md:text-sm"
                  >
                    <TrashIcon />
                  </a>
                </td>
              </tr>
            ))}
          </tbody>
        </table>
      </div>
    </div>
</Layout>
