---
import Form from "@components/ui/Forms/Form.astro";
import FormInput from "@components/ui/Forms/FormInput.astro";
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import CapFrstLetter from "@functions/CapFrstLetter"
import { generateRandomNumber } from "@functions/generateRandomNumber";
import { convertCustomersDataToJSON } from "@functions/ConvertDataToJSON"
import { getStatus } from "@functions/getStatus"
import { turso } from "src/turso";

interface Props {
  selectedCard?: any;
}

const { selectedCard } = Astro.props;
let generatedCardNumber = "";
let bankAccNumbers;
let result;
let statusWTOSelectedStatus

bankAccNumbers = await turso.execute("SELECT * FROM BankAccounts")
const data = bankAccNumbers?.toJSON()

if (!selectedCard) {
  generatedCardNumber = generateRandomNumber(15)
  result = convertCustomersDataToJSON(data)
}
else {
  statusWTOSelectedStatus = getStatus(selectedCard.status);
  result = convertCustomersDataToJSON(data).filter((p) => p.customerID !== selectedCard.customerID);
}
---

<Form title="Card Data">
  {
    !selectedCard 
    ?
      <FormInput name="cardNumber" type="number" value={generatedCardNumber} placeholder={generatedCardNumber} isRequired>
        Card Number
      </FormInput>
      <FormInput name="email" type="email" isDisabled placeholder="johndoe@mail.com">
        Email
      </FormInput>

      <h3 class="text-xl dark:text-white  font-semibold mb-4">Back Account</h3>

      <div class="flex flex-wrap gap-4">
        <FormSelect name="accountNumber" isRequired title="customer Number">
          <SelectOption value="" isSelected>--Select---</SelectOption>
          {
            result?.map((acc) => (
              <SelectOption value={acc.customerID.toString()}>{acc.customerID}</SelectOption>
            ))
          }
        </FormSelect>

        <FormSelect name="accountType" isDisabled title="Type">
          <SelectOption value="corriente">Corriente</SelectOption>
          <SelectOption value="ahorro">Ahorro</SelectOption>
          <SelectOption value="nomina">Nómina</SelectOption>
          <SelectOption value="inversion">Inversión</SelectOption>
          <SelectOption value="joven">Joven</SelectOption>
          <SelectOption value="pensiones">Pensiones</SelectOption>
        </FormSelect>

        <FormSelect title="Currency" isDisabled name="currency">
          <SelectOption value="usd">Dólar Estadounidense (USD)</SelectOption>
          <SelectOption value="eur">Euro (EUR)</SelectOption>
          <SelectOption value="mxn">Peso Mexicano (MXN)</SelectOption>
          <SelectOption value="gbp">Libra Esterlina (GBP)</SelectOption>
          <SelectOption value="jpy">Yen Japonés (JPY)</SelectOption>
          <SelectOption value="cad">Dólar Canadiense (CAD)</SelectOption>
          <SelectOption value="chf">Franco Suizo (CHF)</SelectOption>
          <SelectOption value="cny">Yuan Chino (CNY)</SelectOption>
        </FormSelect>

        <FormInput name="bicCode" type="text" isDisabled placeholder="1234567890123456789012">
          Código BIC
        </FormInput>
      </div>

      <h3 class="text-xl dark:text-white  font-semibold mb-4">Owner Information</h3>

      <div class="flex flex-wrap gap-4">
        <FormInput name="ownerName" type="text" isDisabled placeholder="John">
          Name
        </FormInput>
        
        <FormInput name="ownerPtrlSurname" type="text" isDisabled placeholder="Doe">
          Paternal surname
        </FormInput>
        <FormInput name="ownerMtrlSurname" type="text" isDisabled placeholder="Doe">
          Maternal surname
        </FormInput>
        <FormInput name="rfc" type="text" isDisabled placeholder="VECJ880326">
          RFC
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-4">
        <FormInput name="phoneNumber" type="tel" isDisabled placeholder="1234567890">
          Phone Number
        </FormInput>

        <FormInput name="address" type="text" isDisabled placeholder="215 E Tasman Dr Po Box 65502 CA 95134 San Jose">
          Address
        </FormInput>

        <FormInput name="birthDate" type="date" isDisabled>
          Birth Date
        </FormInput>
      </div>
      <slot/>
    :
      <FormInput name="cardNumber" type="number" value={selectedCard.cardNumber} placeholder="1234567890123456789012">
        Card Number
      </FormInput>
      <div class="flex flex-wrap gap-4">
        <FormInput name="email" type="email" value={selectedCard.email} isDisabled placeholder="johndoe@mail.com">
          Email
        </FormInput>
        <FormSelect title="Card Status" name="status">
          <SelectOption value="">--Selecciona--</SelectOption>
          <SelectOption value={selectedCard.status} isSelected>{CapFrstLetter(selectedCard.status)}</SelectOption>
          {
            statusWTOSelectedStatus?.map((stat) => (
              <SelectOption value={stat}>{CapFrstLetter(stat)}</SelectOption>
            ))
          }
        </FormSelect>
      </div>

      <h3 class="text-xl dark:text-white  font-semibold mb-4">Back Account</h3>

      <div class="flex flex-wrap gap-4">
        <FormSelect name="accountNumber" isRequired title="Customer Number">
          <SelectOption value="">--Select---</SelectOption>
          <SelectOption value={selectedCard.customerID} isSelected>{selectedCard.customerID}</SelectOption>
          {
            result?.map((acc) => (
              <SelectOption value={acc.customerID.toString()}>{acc.customerID}</SelectOption>
            ))
          }
        </FormSelect>
        <FormSelect name="accountType" title="Type" isDisabled>
          {
            
            selectedCard.accountType
            ?<SelectOption value={selectedCard.accountType} isSelected>{CapFrstLetter(selectedCard.accountType)}</SelectOption>
            : ""
          }
        </FormSelect>

        <FormSelect title="Currency" name="currency" isDisabled>
          {
            selectedCard.currency 
            ?<SelectOption value={selectedCard.currency} isSelected>{selectedCard.currency}</SelectOption>
            : ""
          }
        </FormSelect>

        <FormInput name="bicCode" type="text" value={selectedCard.bicCode} placeholder="1234567890123456789012" isDisabled>
          Código BIC
        </FormInput>
      </div>

      <h3 class="text-xl dark:text-white  font-semibold mb-4">Owner Information</h3>

      <div class="flex flex-wrap gap-4">
        <FormInput name="ownerName" type="text" isDisabled value={selectedCard.name} placeholder="John">
          Name
        </FormInput>
        
        <FormInput name="ownerPtrlSurname" type="text" isDisabled value={selectedCard.paternalSurname} placeholder="Doe">
          Paternal surname
        </FormInput>
        <FormInput name="ownerMtrlSurname" type="text" isDisabled value={selectedCard.maternalSurname} placeholder="Doe">
          Maternal surname
        </FormInput>
        <FormInput name="rfc" type="text" value={selectedCard.rfc} isDisabled placeholder="VECJ880326">
          RFC
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-4">
        <FormInput name="phoneNumber" type="tel" isDisabled value={selectedCard.phone} placeholder="1234567890">
          Phone Number
        </FormInput>

        <FormInput name="address" type="text" isDisabled value={selectedCard.address} placeholder="215 E Tasman Dr Po Box 65502 CA 95134 San Jose">
          Address
        </FormInput>

        <FormInput name="birthDate" type="date" isDisabled value={selectedCard.birthDate}>
          Birth Date
        </FormInput>
      </div>
      
      <slot/>

  }
</Form>

