---
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import ReceptionForm from "@components/Reception/ReceptionForm.astro";
import { turso } from "src/turso";
import convertReceptionDataToJSON  from "@functions/ConvertDataToJSON";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";

const { receptionID } = Astro.params;

const rows = await turso.execute(`SELECT * FROM ReceptionsData WHERE receptionID = ${receptionID}`);

const result = convertReceptionDataToJSON(rows.toJSON());

if (Astro.request.method === "POST") {
  // Parse form data
  const formData = await Astro.request.formData();

  const recepcionID = formData.get("receptionID");
  const deliverTo = formData.get("deliverTo");
  const discount = formData.get("discount");
  const totalChange = formData.get("totalChange"); 
  const description = formData.get("description");
  const bankAcc = formData.get("bankAcount");
  
  await turso.execute(`UPDATE Receptions 
  SET deliverTo = '${deliverTo}', discount = ${discount}, description = '${description}', totalChange = ${totalChange}, bankAccountID = ${bankAcc}, statusID = 7
  WHERE receptionID = ${recepcionID};`);

  return Astro.redirect('/reception')
}
---

<Layout title="Editar">
  <ReceptionForm selectedReception={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
         Update
       </SubmitBtn>
    </div>
  </ReceptionForm>
</Layout>