---
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import ReceptionForm from "../../components/Reception/ReceptionForm.astro";
import Layout from "../../layouts/Layout.astro";
import { turso } from "src/turso";
import SubmitBtn from "../../components/ui/Buttons/SubmitBtn.astro";


if(Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();
  const receptionID = formData.get('recepcionID');
  const purchaseID = formData.get('purchaseID');
  const delTo = formData.get('deliverTo');
  const repDate = formData.get('receptionDate');
  const dicount = formData.get('discount');
  const totChange = formData.get('totalChange');
  const descriptions = formData.get('description');
  const bankAccont = formData.get('bankAcount');

   

  await turso.execute(`INSERT INTO Receptions (receptionID, deliverTo, purchaseDate, discount, totalChange, description, purchaseOrderID, statusID, bankAccountID) VALUES(${receptionID}, '${delTo}', '${repDate}', ${dicount}, ${totChange}, '${descriptions}', ${purchaseID}, 7, ${bankAccont})`)

  return Astro.redirect('/reception');
}
---

<Layout title="reception">
  <ReceptionForm>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Add
      </SubmitBtn>
    </div>
  </ReceptionForm>
</Layout>
