---
import Layout from "../../layouts/Layout.astro";
import TrashIcon from "../../components/ui/icons/TrashIcon.astro";
import CheckIcon from "../../components/ui/icons/CheckIcon.astro";
import EditIcon from "../../components/ui/icons/EditIcon.astro";
import EditRecord from "../../components/ui/Tables/EditRecord.astro";
import ItemStatus from "../../components/ui/Tables/ItemStatus.astro";
import AddRegisterBtn from "../../components/ui/Buttons/AddRegisterBtn.astro";
import convertReceptionDataToJSON from "../../functions/ConvertDataToJSON";

import { turso } from 'src/turso';

const rows = await turso.execute('SELECT * FROM ReceptionsData');


const data = rows.toJSON()
// Convertir a formato JSON deseado
const result = convertReceptionDataToJSON(data);



---

<Layout title="Purchase Reception">
  <div class="max-w-screen-xl mx-auto px-4 md:px-8">
    <div class="items-start justify-between md:flex">
      <div class="max-w-lg">
        <h3 class="text-gray-800 text-xl font-bold sm:text-2xl dark:text-gray-300">
          Purchase Reception
        </h3>
      </div>
      <div class="mt-3 md:mt-0">
        <AddRegisterBtn/>
      </div>
    </div>
    <div class="mt-6 shadow-sm border rounded-lg overflow-x-auto">
      <table class="w-full table-auto text-sm text-left">
        <thead class="dark:bg-gray-400/20 dark:text-white bg-gray-50 text-gray-600 font-medium border-b">
          <tr>
            <th class="py-3 px-6">ID Reception</th>
            <th class="py-3 px-6">Supplier</th>
            <th class="py-3 px-6">Souvenir</th>
            <th class="py-3 px-6">Warehouse</th>
            <th class="py-3 px-6">Status</th>
            <th class="py-3 px-6"></th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          {
            result.map((item) => (
              <tr>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.receptionID}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.supplierEmail}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.souvenirName}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.warehouseID}</td>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white capitalize">
                  <ItemStatus  status={item.statusName} />
                </td>
                <td class="flex items-center justify-center gap-4 m-2 text-right px-6 whitespace-nowrap">
                  <EditRecord href={`/reception/${item.receptionID}`}>
                    <EditIcon/>
                  </EditRecord>

                  <a
                    href={`/reception/delete?receptionID=${item.receptionID}`}
                    class="py-2 px-3 inline-block text-white duration-150 font-medium bg-red-600 rounded-lg hover:bg-red-500 active:bg-red-700 md:text-sm"
                  >
                    <TrashIcon/>
                  </a>
                  <a
                    href={`/reception/accept?receptionID=${item.receptionID}`}
                    class="py-2 px-3 inline-block text-white duration-150 font-medium bg-green-600 rounded-lg hover:bg-green-500 active:bg-green-700 md:text-sm"
                  >
                    <CheckIcon/>
                  </a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>
