---
import Form from "@components/ui/Forms/Form.astro";
import FormInput from "@components/ui/Forms/FormInput.astro";
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import { generateRandomNumber } from "@functions/generateRandomNumber";
import { convertPurchaseDataToJSON } from "@functions/ConvertDataToJSON";
import { turso } from "src/turso";

interface Props {
  selectedOrder?: any;
}

const { selectedOrder } = Astro.props;

let generateOrderNumber = "";
let orderData;
let result;

orderData = await turso.execute("SELECT * FROM PurchaseOrders");
const data = orderData?.toJSON();

if (!selectedOrder) {
  generateOrderNumber = generateRandomNumber(5);
  result = convertPurchaseDataToJSON(data);
} else {
  result = convertPurchaseDataToJSON(data).filter((p) => p.orderID !== selectedOrder.orderID);
}
---

<Form title="Purchase Order Data">

  <FormInput name="orderID" type="number" value={generateOrderNumber} placeholder={generateOrderNumber} isRequired isDisabled>
    Order ID
  </FormInput>
  <div class="flex flex-wrap gap-4">
    <FormSelect name="purchaseID" title="Purchase ID" isRequired>
      <SelectOption value="" isSelected> -- Select Purchase Order -- </SelectOption>
      {
        result?.map((acc) => (
          <SelectOption value={acc.orderID.toString()}>{acc.orderID}</SelectOption>
        ))
      }
    </FormSelect>
    <FormSelect name="warehouse" title="Warehouse" isDisabled>
      <option value="">Selecciona un Almacen</option>
      <option value="WH1" selected>1</option>
      <option value="WH2">2</option>
      <option value="WH3">3</option>
      <option value="WH4">4</option>
    </FormSelect>
    <FormSelect name="currency" title="Currency" isDisabled>
      <option value="">Selecciona un tipo de Moneda</option>
      <option value="pesos" selected>Pesos</option>
      <option value="dolares">Dolares</option>
      <option value="euros">Euros</option>
    </FormSelect>
  </div>

  <h3 class="text-xl dark:text-white font-semibold mb-4">Supplier Data</h3>

  <div class="flex flex-wrap gap-3">
    <FormSelect name="supplierID" title="Supplier ID" isDisabled>
      <option value="">Selecciona un Proveedor</option>
      {
        result?.map((acc) => (
          <SelectOption value={acc.supplierID.toString()}>{acc.supplierName}</SelectOption>
        ))
      }
    </FormSelect>

    <FormInput name="supplierName" type="text" placeholder="Name" isDisabled>
      Supplier Name
    </FormInput>
    
    <FormInput name="rfc" type="text" placeholder="RFC" isDisabled>
      RFC
    </FormInput>
  </div>

  <div class="flex flex-wrap gap-4">
    <FormInput name="street" type="text" placeholder="Street Name" isDisabled>
      Street Name
    </FormInput>

    <FormInput name="neighborhood" type="text" placeholder="Neighborhood" isDisabled>
      Neighborhood
    </FormInput>
    
    <FormInput name="outsideNumb" type="text" placeholder="Outside Number" isDisabled>
      Outside Number
    </FormInput>

    <FormInput name="postalCode" type="number" placeholder="Postal Code" isDisabled>
      Postal Code
    </FormInput>
  </div>

  <div class="flex flex-wrap gap-3">
    <FormInput name="country" type="text" placeholder="Country" isDisabled>
      Country
    </FormInput>

    <FormInput name="state" type="text" placeholder="State" isDisabled>
      State
    </FormInput>

    <FormInput name="city" type="text" placeholder="City" isDisabled>
      City
    </FormInput>
  </div>

  <h3 class="text-xl dark:text-white font-semibold mb-4">Other Information</h3>

  <div class="flex flex-wrap gap-4">
    <FormInput name="deliverTo" type="text" placeholder="Deliver To">
      Deliver To
    </FormInput>
    
    <FormInput name="purchaseDate" type="date" placeholder="00/00/0000">
      Purchase Date
    </FormInput>

    <FormInput name="discount" type="number" placeholder="0%">
      Discount
    </FormInput>

    <FormInput name="totalChange" type="number" placeholder="0.00">
      Total Change
    </FormInput>
  </div>

  <div class="flex flex-wrap gap-1">
    <FormInput name="description" type="text" placeholder="Description">
      Description
    </FormInput>
  </div>

</Form>
