---
import Form from "@components/ui/Forms/Form.astro";
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import FormInput from "@components/ui/Forms/FormInput.astro";
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import { generateRandomNumber } from "@functions/generateRandomNumber";
import { convertWarehouseDataToJSON } from "@functions/ConvertDataToJSON";
import { convertCurrencyDataToJSON } from "@functions/ConvertDataToJSON";
import { convertSouvenirDataToJSON } from "@functions/ConvertDataToJSON";
import { convertSupplierDataToJSON } from "@functions/ConvertDataToJSON";
import { turso } from "src/turso";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";

interface Props {
  selectedOrder?: any;
}

const { selectedOrder } = Astro.props;

let generateOrderNumber = "";
let result;
let souvenirsData 
let warehousesData
let currenciesData
let suppliersData

if (!selectedOrder) {
  let warehouses  = await turso.execute("SELECT warehouseID, warehouseName FROM Warehouses")
  let currencies  = await turso.execute("SELECT currencyID, currencyName FROM Currencies")
  let souvenirs  = await turso.execute("SELECT * FROM souvenirs")
  let suppliers  = await turso.execute("SELECT * FROM SupplierData;")

  const whDJSON = warehouses.toJSON();
  const curDJSON = currencies.toJSON();
  const souvDJSON = souvenirs.toJSON();
  const supDJSON = suppliers.toJSON();
  souvenirsData = convertSouvenirDataToJSON(souvDJSON);
  warehousesData = convertWarehouseDataToJSON(whDJSON);
  currenciesData = convertCurrencyDataToJSON(curDJSON);
  suppliersData = convertSupplierDataToJSON(supDJSON);
  generateOrderNumber = generateRandomNumber(5);

} else {
  result = selectedOrder
}

---

<Form title="Purchase Order Data">
  { 
    !selectedOrder
    ?
      <div class="flex flex-wrap gap-4">
        <FormInput name="purchaseOrderID" type="number" value={generateOrderNumber} placeholder={generateOrderNumber} isRequired>
        Order ID
      </FormInput>

      <FormSelect name="warehouseID" title="Warehouse" isRequired>
          <option value="" selected>Selecciona un almacén</option>
          {
            warehousesData?.map((warehouse) => (
              <SelectOption value={warehouse.warehouseID.toString()}>{warehouse.warehouseName}</SelectOption>
            ))
          }
        </FormSelect>

        <FormSelect name="currencyID" title="Currency" isRequired>
          <option value="" selected>Selecciona un tipo de moneda</option>
          {
            currenciesData?.map((currency) => (
              <SelectOption value={currency.currencyID.toString()}>{currency.currencyName}</SelectOption>
            ))
          }
        </FormSelect>
      </div>

      <h3 class="text-xl dark:text-white  font-semibold mb-4">Souvenir Data</h3>

      <div class="flex flex-wrap gap-3">
        <FormSelect name="souvenirID" title="Souvenir" isRequired>
          <option value="" selected>Selecciona un Souvenir</option>
          {
            souvenirsData?.map((souvenir) => (
              <SelectOption value={souvenir.souvenirID.toString()}>{souvenir.souvenirName}</SelectOption>
            ))
          }
        </FormSelect>
        
        <FormInput name="prodQty" type="number" placeholder="0.0" isRequired>
          Product Quantity
        </FormInput>

        <FormInput name="price" type="number" placeholder="0.00" isDisabled>
          Price W/IVA
        </FormInput>
      </div>

      <h3 class="text-xl dark:text-white font-semibold mb-4">Supplier Data</h3>

      <div class="flex flex-wrap gap-3">
        <FormSelect name="supplierID" title="Supplier">
          <option value="" selected>Selecciona un Proveedor</option>
          {
            suppliersData?.map((supplier) => (
              <SelectOption value={supplier.supplierID.toString()}>{supplier.supplierName}</SelectOption>
            ))
          }
        </FormSelect>
        
        <FormInput name="rfc" type="text" placeholder="RFC" isDisabled>
          RFC
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-4">
        <FormInput name="street" type="text" placeholder="Street Name" isDisabled>
          Street Name
        </FormInput>

        <FormInput name="neighborhood" type="text" placeholder="Neighborhood" isDisabled>
          Neighborhood
        </FormInput>
        
        <FormInput name="outsideNumb" type="text" placeholder="Outside Number" isDisabled>
          Outside Number
        </FormInput>

        <FormInput name="postalCode" type="number" placeholder="Postal Code" isDisabled>
          Postal Code
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-3">
        <FormInput name="country" type="text" placeholder="Country" isDisabled>
          Country
        </FormInput>

        <FormInput name="state" type="text" placeholder="State" isDisabled>
          State
        </FormInput>

        <FormInput name="city" type="text" placeholder="City" isDisabled>
          City
        </FormInput>
      </div>

      <h3 class="text-xl dark:text-white font-semibold mb-4">Other Information</h3>

      <div class="flex flex-wrap gap-4">
        <FormInput name="deliverTo" type="text" placeholder="Deliver To" isRequired>
          Deliver To
        </FormInput>
        
        <FormInput name="purchaseDate" type="date" placeholder="00/00/0000" isRequired>
          Purchase Date
        </FormInput>

        <FormInput name="discount" type="number" placeholder="0%" isRequired>
          Discount
        </FormInput>

        <FormInput name="totalChange" type="number" placeholder="0.00" isRequired>
          Total Change
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-1">
        <FormInput name="description" type="text" placeholder="Description">
          Description
        </FormInput>
      </div>
      
      <div class="flex justify-end max-w-32 mx-auto px-8">
        <BackBtn />
        <SubmitBtn>
          Add
        </SubmitBtn>
      </div>
      //Termina Add
    :
      //Empieza Update

      <div class="flex flex-wrap gap-4">
        <FormInput name="orderID" type="number" value={selectedOrder.purchaseID} placeholder={selectedOrder.  purchaseID} isDisabled>
          Order ID
        </FormInput>

        <FormSelect name="warehouseID" title="Warehouse" isDisabled>
          <option value={selectedOrder.warehouseID}>{selectedOrder.warehouseName}</option>
        </FormSelect>

        <FormSelect name="currency" title="Currency" isDisabled>
          <option value={selectedOrder.currencyID}>{selectedOrder.currencyName}</option>
        </FormSelect>
      </div>

      <h3 class="text-xl dark:text-white font-semibold mb-4">Souvenir Data</h3>

      <div class="flex flex-wrap gap-3">
        <FormSelect name="souvenirID" title="Souvenir" isDisabled>
          <option value={selectedOrder.souvenirID}>{selectedOrder.souvenirName}</option>
        </FormSelect>

        <FormInput name="prodQty" type="number" placeholder="0.0" isRequired isDisabled value={selectedOrder.productQty}>
          Product Quantity
        </FormInput>
        
        <FormInput name="price" type="number" placeholder={selectedOrder.price} value={selectedOrder.totalChange} isDisabled>
          Price W/IVA
        </FormInput>
      </div>

      <h3 class="text-xl dark:text-white font-semibold mb-4">Supplier Data</h3>

      <div class="flex flex-wrap gap-3">
        <FormSelect name="supplierID" title="Supplier" isDisabled>
          <option value={selectedOrder.supplierID}>{selectedOrder.supplierName}</option>
        </FormSelect>
        
        <FormInput name="rfc" type="text" placeholder="RFC" isDisabled>
          RFC
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-4">
        <FormInput name="street" type="text" placeholder="Street Name" isDisabled>
          Street Name
        </FormInput>

        <FormInput name="neighborhood" type="text" placeholder="Neighborhood" isDisabled>
          Neighborhood
        </FormInput>
        
        <FormInput name="outsideNumb" type="text" placeholder="Outside Number" isDisabled>
          Outside Number
        </FormInput>

        <FormInput name="postalCode" type="number" placeholder="Postal Code" isDisabled>
          Postal Code
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-3">
        <FormInput name="country" type="text" placeholder="Country" isDisabled>
          Country
        </FormInput>

        <FormInput name="state" type="text" placeholder="State" isDisabled>
          State
        </FormInput>

        <FormInput name="city" type="text" placeholder="City" isDisabled>
          City
        </FormInput>
      </div>

      <h3 class="text-xl dark:text-white font-semibold mb-4">Other Information</h3>

      <div class="flex flex-wrap gap-4">
        <FormInput name="deliverTo" type="text" placeholder={selectedOrder.deliverTo} value={selectedOrder.deliverTo} isDisabled >
          Deliver To
        </FormInput>
        
        <FormInput name="purchaseDate" type="date" placeholder={selectedOrder.purchaseDate} value={selectedOrder.purchaseDate} isDisabled>
          Purchase Date
        </FormInput>

        <FormInput name="discount" type="number" placeholder={selectedOrder.discount} value={selectedOrder.discount} isDisabled >
          Discount
        </FormInput>

        <FormInput name="totalChange" type="number" placeholder={selectedOrder.totalChange} value={selectedOrder.totalChange} isDisabled >
          Total Change
        </FormInput>
      </div>

      <div class="flex flex-wrap gap-1">
        <FormInput name="description" type="text" placeholder={selectedOrder.description} value={selectedOrder.description} isDisabled >
          Description
        </FormInput>
      </div>
      <div class="flex justify-end max-w-full mx-auto px-8">

        <BackBtn />
      </div>
  }
</Form>


