---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "src/layouts/Layout.astro";
import SupplierForm from "@components/Supplier/SupplierForm.astro";
import { turso } from "src/turso";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import { convertSuppliersDataToJSON } from "@functions/ConvertSuppliersDataToJSON";

const { supplierID  } = Astro.params;

const rows = await turso.execute(`SELECT * FROM Suppliers WHERE supplierID  = ${supplierID }`);
console.log(rows.toJSON()); 


const result = convertSuppliersDataToJSON(rows.toJSON());

if (Astro.request.method === 'POST') {
    // Parse form data
    const formData = await Astro.request.formData();

    const supplierID = formData.get('supplierID');
    const legalEntityID = formData.get('legalEntityID');
    const phoneNumber = formData.get('phoneNumber');
    const email = formData.get('email');
    const statusID = formData.get('statusID');

    let updateFields = [];

    if (legalEntityID) updateFields.push(`legalEntityID = '${legalEntityID}'`);
    if (phoneNumber) updateFields.push(`phoneNumber = ${phoneNumber}`);
    if (email) updateFields.push(`email = ${email}`);
    if (statusID) updateFields.push(`statusID = ${statusID}`);

    if (updateFields.length > 0) {
      const updateQuery = `UPDATE Suppliers SET ${updateFields.join(', ')} WHERE supplierID = ${supplierID}`;
      await turso.execute(updateQuery);
    }

    console.log(supplierID);
    console.log(legalEntityID);
    console.log(phoneNumber);
    console.log(email);
    console.log(statusID);

  return Astro.redirect('/suppliers')
}

---

<Layout title="Editar">
  <SupplierForm selectedSupplier={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Update
      </SubmitBtn>
    </div>
  </SupplierForm>
</Layout>